@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style"
    @onkeydown="OnKeyDownInternal"
    @onkeypress="OnKeyPressInternal"
    @onkeyup="OnKeyUpInternal"
    @onmousedown="OnMouseDownInternal"
    @onclick="OnClickInternal"
    @onmouseup="OnMouseUpInternal"
    @onkeydown:preventDefault="KeyDownPreventDefault"
    @onkeypress:preventDefault="KeyPressPreventDefault"
    @onkeyup:preventDefault="KeyUpPreventDefault"
    @onmousedown:preventDefault="MouseDownPreventDefault"
    @onclick:preventDefault="ClickPreventDefault"
    @onmouseup:preventDefault="MouseUpPreventDefault">
    <div class="mud-input-control-input-container">
        @InputContent
        @if (!string.IsNullOrEmpty(Label))
        {
            <MudInputLabel Class="mud-input-label-inputcontrol" Variant="@Variant" Disabled=@Disabled Error="@Error" 
                           Margin="@Margin" ForId="@ForId">
                @Label
            </MudInputLabel>
        }
    </div>
    @if (Error || !string.IsNullOrEmpty(HelperText) || !string.IsNullOrEmpty(CounterText))
    {
        <div class="@HelperContainer">
            <p class="@HelperClass">
                <div class="d-flex flex-column">
                    <div class="d-flex">
                        @if (!string.IsNullOrEmpty(CounterText))
                        {
                            <div class="ms-auto">
                                @CounterText
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(HelperText))
                        {
                            <div class="me-auto mud-input-helper-text">
                                @HelperText
                            </div>
                        }
                    </div>

                    @if (Error)
                    {
                        <div class="me-auto mud-input-error-text" id="@ErrorId">
                            @ErrorText
                        </div>            
                    }
                </div>
            </p>
        </div>
    }
    @ChildContent
</div>